{% extends "auctions/layout.html" %}

{% block body %}

{% for listing in listings %}

<label for="cat_list">Categories:</label>
<select name="cat_list" id="cat_list">
  {% for cat in category %}
  <option value="{{ cat }}">{{ cat }}</option>
  {% endfor %}
</select>
<div class="card text-center w-75 p-3" style="margin: 10px auto;">
    <div class="card-header">
        {% for category in listing.category.all %}
        <span style="border: 1px solid grey">{{category}}</span>
    {% endfor %}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{listing.title}}</h5>
      <img src="{{listing.image_link}}" alt="image" style="height: 50vh;"  class="mb-3">
      <br>
    <a href="{% url 'single_page' listing.id %}" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">
        {{listing.listing_price}} £
    </div>
  </div class="mb-3">


{% endfor %}
{% endblock %}

