{% extends "auctions/layout.html" %}

{% block body %}

<h1>{{page.title}}</h1>
<hr>
{% for category in page.category.all %}
<span style="border: 1px solid grey">{{category}}</span>
{% endfor %}
<p>{{page.description}}</p>
<p>{{listing_price}}</p>
<img src="{{page.image_link}}" alt="image" style="height: 25vh;">
<p>{{is_available}}</p>
<p>amount of bids</p>
<p>{{page.user}}</p>
<p>{{page.date}}</p>
<hr>
<a href="{% url 'update-listing' listing.id %}">Edit</a>
<br>
<a href="#">Delete</a>
<hr>
<a href="{% url 'index' %}">Home</a>
</a>
{% endblock body %}
