{% extends "auctions/layout.html" %}

{% block body %}

{% if user.is_authenticated %}
    {% if is_verified %}
    <form action="{% url 'removeFromWatchList' page.id %}" method="POST">
        {% csrf_token %}
        <button type="submit">Remove from Watchlist</button>

    </form>
    {% else %}
    <form action="{% url 'addToWatchList' page.id %}" method="POST">
    {% csrf_token %}
        <button type="submit">Add to Watchlist</button>

    </form>
    {% endif %}
{% endif %}

<h1>{{page.title}}</h1>
<hr><p>Category: 
{% for category in page.category.all %}
<span style="border: 1px solid grey">{{category}}</span>
{% endfor %}
</p>
<p>{{page.description}}</p>
<p>{{listing_price}}</p>
<img src="{{page.image_link}}" alt="image" style="height: 25vh;">
<p>{{is_available}}</p>
<p>amount of bids</p>
<p>Listed by: {{page.user}}</p>
<p>{{page.date}}</p>
<hr>

{% if user.is_authenticated %}
<p>add comment</p>

<form action="{% url 'createComment' page.id %}" method="POST">
    {% csrf_token %}
    {{comment.body}}
    <button type="submit">Add</button>

</form>



{% if page.user == user %}
<hr>
<a href="{% url 'update-listing' page.id %}">Edit</a>
<br>
<a href="{% url 'delete-listing' page.id %}">Delete</a>
<hr>
<a href="{% url 'index' %}">Home</a>
{% endif %}

{% endif %}

{% endblock body %}
