{% extends "auctions/layout.html" %}

{% block body %}


<ul class="nav">
  {% for cat in category %}
  <li class="nav-item">
      <a class="nav-link" href="{% url 'choose_category' cat.id %}">{{ cat.title }}</a>
      </a>
  </li>
  
  {% endfor %}
</ul>
  <h1 class="d-flex justify-content-center"style="margin:auto 300px">{{site}}</h1>
<div class="d-flex justify-content-center  flex-wrap "style="margin:auto 300px">
{% for listing in listings %}
<div class="card text-center w-50 p-2" style="margin: 10px auto;">
  <div class="card-header">
        {% for category in listing.category.all %}
        <span style="border: 1px solid grey">{{category}}</span>
    {% endfor %}
    </div>
    <div class="card-body">
      <h5 class="card-title"><u>{{listing.title}}</u></h5>
      <hr>
      <img src="{{listing.image_link}}" alt="image" style="height: 40vh; max-width: 400px;"  class="mb-3">
      <br>
    <a href="{% url 'single_page' listing.id %}" class="btn btn-primary">Details</a>
    </div>
    {% if listing.is_available == True %}
        <p  style="color: blue;">available</p>
    {% else %}
        <p  style="color: red;">auction closed</p>
    {% endif %}
    <div class="card-footer text-muted">
        {{listing.listing_price}} £
    </div>
  </div>


{% endfor %}
</div>
{% endblock %}